body {
    background-color: #e1fbff;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: gray;
    width: 5%;
}

h1 {
    color: #66BFBF;
}

h3 {
   color: #66BFBF;
}
